<img src="../../../assets/shared/srs.png" alt="SRS" class="project-logo">

<mat-list>
  <mat-list-item routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
    <mat-icon>home</mat-icon> Dashboard
  </mat-list-item>

  <mat-list-item routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
    <mat-icon>person</mat-icon> Users
  </mat-list-item>
  <mat-list-item routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
    <mat-icon>home</mat-icon> Inventory
  </mat-list-item>
  <div>
    <mat-list-item class="ui-element" routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
      <mat-icon>desktop_windows</mat-icon>Computers
    </mat-list-item>
    <mat-list-item class="ui-element" routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
      <mat-icon>book</mat-icon>Books
    </mat-list-item>
    <mat-list-item class="ui-element" routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
      <mat-icon>more</mat-icon>School Ingredients
    </mat-list-item>
  </div>
  <mat-list-item routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
    <mat-icon>library_books</mat-icon> Library
  </mat-list-item>

</mat-list>

