<div class="col-md-12">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Login</th>
        <th>First name</th>
        <th>Second name</th>
        <th>Creation date</th>
        <th>Edit</th>
        <th>Remove</th>
      </tr>
    </thead>
    <app-user-list-item *ngFor="let user of users" [user]="user">
    </app-user-list-item>
    <li routerLink="/dashboard/addUser" routerLinkActive="active">
      <a class="mat-raised-button">Dodaj użytkownika</a>
    </li>
  </table>
</div>
