<div class="col-md-12">
    <button class="btn btn-success pull-right" (click)="goAddInventoryItemPage()"> 
      Add new item
    </button>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Item name</th>
        <th>Price</th>
        <th>Serial number</th>
        <th>Purchase date</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Remove</th>
      </tr>
      </thead>
      <app-inventory-list-item *ngFor="let inventoryItem of inventory" [inventoryItem]="inventoryItem">
      </app-inventory-list-item>
    </table>
  </div>