<nav class="sidebar">
    <nav class="navbar" #sidebarHeaderElement>
        <a routerLink="/dashboard" class="navbar-brand">
            SRS
        </a>
    </nav>
    <ul class="list-unstyled components">
        <li routerLink="/dashboard" routerLinkActive="active">
            <a>Dashboard</a>
        </li>
        <li routerLink="/dashboard/users" routerLinkActive="active">
            <a>Users</a>
        </li>
        <li routerLink="/dashboard/inventory" routerLinkActive="active">
            <a>Inwentaż</a>
        </li>
        <li routerLink="/dashboard/books" routerLinkActive="active">
            <a>Książki</a>
        </li>
    </ul>
</nav>
