<nav class="sidebar">
    <nav class="navbar" #sidebarHeaderElement>
        <a routerLink="/" class="navbar-brand">
            SRS
        </a>
    </nav>
    <ul class="list-unstyled components">
        <li routerLink="/" routerLinkActive="active">
            <a>Dashboard</a>
        </li>
        <li routerLink="/users" routerLinkActive="active">
            <a>Users</a>
        </li>
        <li routerLink="/inventory" routerLinkActive="active">
            <a>Inwentaż</a>
        </li>
        <li routerLink="/books" routerLinkActive="active">
            <a>Książki</a>
        </li>
    </ul>
</nav>
