<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Change password for<b>{{ user.login }}</b></h3>
    </div>
    <div class="panel-body">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="pass">Password:</label>
                        <input type="password" class="form-control" id="pass" [(ngModel)]="password" minlength="8" maxlength="32">
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="newpassword">Repeat Password:</label>
                        <input type="password" class="form-control" id="newpassword" [(ngModel)]="newpassword" minlength="8" maxlength="32">
                    </div>
                </div>
            </div>
        </div>

        <div class="alert alert-danger" *ngIf="error">
            <p>{{ error }}</p>
        </div>
    </div>
    <div class="panel-footer">
        <button class="btn btn-success" (click)="changePassword()">Change password</button>
    </div>
</div>